.idea/
cmake-build-*/
*.iws
*.cwm
*.xml

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
.ninja_deps
.ninja_log

.DS_Store
.AppleDouble
.LSOverride

/bin/
/lib/
/build
build/
*.o
*.obj
*.dylib
*.app/

*.txt
!CMakeLists.txt
!LICENSE
